body {
    background-color: rgb(0, 0, 0);
}

.name {

}
img {
    border-radius: 10px;
}
span {
    color: aliceblue;
}

.titre1 {
    color: aliceblue;
    font-weight: 900;
    font-size: 90px;
    margin-bottom: -10px;


}

.page1 {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,7,34,1) 4%, rgba(255,154,0,1) 89%); 

}
.page1:hover{
    .textp1{
        top: 200px;
    }
}

.image1 {
    height: 450px;
    border-radius: 15px;
    margin-top: 10px;
    position: absolute; top: 10px; left:550px;
    z-index:32;
}

.image2 {
    height: 500px;
    border-radius: 15px;
    position: absolute; top: 400px; left:500px;
    z-index:12;
    

}

.textp1 {
    padding: 20px;
    position: absolute; top: -500px; left:1000px;
    font-size: 30px;
    transition: top 2.5s;
}
.page2 {
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,154,0,1) 100%); 
    
}
.manette {
    height: 260px;
    position: absolute; top: 1160px; left:470px;
    width: 400px;
    transition: scale 1s;
}
.textjv1{
    position: absolute; top: 1370px; left:570px;
    font-size: 30px;
    font-weight: 700;   
    transition: top 3s;
}
.textjv2{
    visibility: hidden  ;
    position: absolute; top: 1440px; left:475px;
    font-size: 25px;  
    transition: top 3s;
}

    

.jv:hover{

    .manette{opacity: 0.3;
    scale: 1.05}
    .textjv1{ top: 1180px}
    .textjv2{
        visibility: visible;
        top: 1250px; 
    
    }
}
.imgfilm {
    height: 260px;
    position: absolute; top: 1160px; left:970px;
    width: 400px;
    transition: scale 1s;
}
.textfilm1{
    position: absolute; top: 1370px; left:1075px;
    font-size: 30px;   
    font-weight: 700;
    transition: top 3s;
}
.textfilm2{
    position: absolute; top: 1440px; left:1025px;
    font-size: 25px;
    visibility: hidden;
    transition: top 3s;
}
.film:hover{
    .imgfilm{
        opacity: 0.3;
        scale: 1.02;
    }
    .textfilm1{
        top: 1180px
    }
    .textfilm2{
        visibility: visible;
        top: 1240px; 

    }
}
.imgmanga {
    height: 260px;
    position: absolute; top: 1500px; left:470px;
    width: 400px;
    transition: scale 1s
}
.textmanga1{
    position: absolute; top: 1710px; left:545px;
    font-size: 30px; 
    font-weight: 700; 
    transition:top 3s; 
}
.textmanga2 {
    position: absolute; top: 1770px; left:530px;
    font-size: 25px;  
    visibility: hidden;
    transition: top 3s;
}
.manga:hover{
    .imgmanga{opacity: 0.3;
      scale : 1.05 
    }
    .textmanga1{top: 1520px;}
    .textmanga2{ top: 1600px;
    visibility: visible; }
}

.imgsport {
    height: 260px;
    position: absolute; top: 1500px; left:980px;
    width: 400px;
    transition: scale 1s;
}
.textsport1{
    position: absolute; top: 1710px; left:1115px;
    font-size: 30px;   
    font-weight: 700;
    transition: 3s;
}
.textsport2{
    position: absolute; top: 1770px; left:1005px;
    font-size: 25px;  
    visibility: hidden;
    transition: top 3s;
}
.sport:hover{
    .imgsport{opacity: 0.3;
        scale : 1.05 }
    .textsport1{ top: 1520px}
    .textsport2{visibility: visible;
     top: 1570px; 
}
}
h1{
    color: aliceblue;
}
.titre2 {
    position: absolute; top: 930px; left:700px;
    font-size: 90px;

}




.page3{
    height: 100vh;
    background: rgb(93,34,195);
    background: linear-gradient(0deg, rgba(93,34,195,1) 0%, rgba(36,187,195,1) 96%, rgba(34,193,195,0.01) 100%); 
}
.titre3 {
    position: absolute; top: 2200px; left:700px;
    font-size: 90px;
}
.imgmail {
    height: 50px;
    position: absolute; top: 2355px; left:805px;
}
.imgtel {
    height: 60px;
    position: absolute; top: 2410px; left:800px;
}
.mail {
    position: absolute; top: 2370px; left:870px; 
}
.numtel {
    position: absolute; top: 2430px; left: 870px;
}
